body {
    min-width: 200px;
    min-height: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.back {
    background-color: lightgreen;
    font-family: Verdana;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightblue;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 5px lightblue;
}

a:focus {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:active {
    text-decoration: none;
    color: rgb(0, 0, 0)
}

.back:hover {
    background-color: lightgrey;
}

h1 {
    font-family: Verdana;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}


.again {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.result {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50vh;
    transform: translate(-50%, -50%);
    left: 50vw;
}

#problem {
    width: 450px;
    height: 300px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 30px;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105vh;
}

button {
    background-color: lightgreen;
    font-family: Verdana;
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    border: 5px solid black;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightblue;
    margin-right: 20px;
    cursor: pointer;
}

button:hover {
    background-color: lightgrey;
    box-shadow: 10px 10px 5px lightblue;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:focus {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:active {
    text-decoration: none;
    color: rgb(0, 0, 0)
}

button.selected {
    background-color: lightgray;
}

button.right {
    background-color: green;
}

button.wrong {
    background-color: red;
}

button.showright {
    background-color: green;
}

.hidden {
    display: none;
}

#next {
    position: absolute;
    bottom: 20px;
    left: 50vw;
    transform: translateX(-50%);
}

.notification {
    margin: auto 1rem;
    padding: .5rem 1rem;
    background: black;
    color: white;
    border-radius: .25rem;
    position: inherit;
    right: 25%;
    display: none;
}

.notification.notify {
    display: block;
}

/* TODO: Add breakpoints for 400px, 800px, 1200px, 1600px */
/* @media only screen and (min-width: 1200px) {} */
/* Max width, min width, display */