body {
    min-width: 200px;
    min-height: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.back {
    background-color: lightgreen;
    font-family: Verdana;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightblue;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 5px lightblue;
}

a:focus {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:active {
    text-decoration: none;
    color: rgb(0, 0, 0)
}

.back:hover {
    background-color: lightgrey;
}

.level h1 {
    font-family: Verdana;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
}

.button {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 2px solid #000000;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.button:disabled {
    cursor: no-drop;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.next-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}